@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');


body {
	background-color: rgba(255, 0, 0, 0.3);
	margin: 10px;
    font-family: 'Heebo', sans-serif;
}
.container {
    width: 80%;
    margin-top: 5%;
}
.head1 {
    font-size: 18pt;
}

#date-part {
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
}

#time-part {
    font-size: 2em;
    text-align: center;
}
